body {
    background-color: #EBF2FA;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: #05668D;
    font-family: 'Montserrat', sans-serif;
}

p{
    color: #494949;
    font-family: 'Open Sans',sans-serif;
    font-size : 17px;
    font-weight :700;
}


#pomodoroCount{
    font-size: 26px;
    margin-bottom: 100px;
    margin-top:0px;
}

#timer {
    color: #427AA1;
    font-family: 'Exo', sans-serif;
    font-size : 50px;
    margin-bottom: 17px;
    margin-top: 100px;
}

#title {
    font-size : 50px;
}

#body {
    display: flex;
    justify-content: center;
    align-content: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-start-pause {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #EBF2FA;
    padding: 20px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    font-family: 'Open Sans',sans-serif;
    font-size : 17px;
    font-weight :700;
}

.button-start-pause:hover {
    color: #ffffff !important;
    background: #41ac64;
    border-color: #41ac64 !important;
    transition: all 0.4s ease 0s;
    font-family: 'Open Sans',sans-serif;
    font-size : 17px;
    font-weight :700;
    }

.button-stop {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #EBF2FA;
    padding: 20px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    font-family: 'Open Sans',sans-serif;
    font-size : 17px;
    font-weight :700;
}

.button-stop:hover {
    color: #ffffff !important;
    background: #f63b3b;
    border-color: #f63b3b !important;
    transition: all 0.4s ease 0s;
    font-family: 'Open Sans',sans-serif;
    font-size : 17px;
    font-weight :700;
    }